/* App CSS */
.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 4vmin;
  pointer-events: none;
}

.react-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 4vmin;
  pointer-events: none;
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header .nav-item a {
  color: white;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lead {
  padding: 1rem 0;
}

section {
  padding: 5rem 0;
}

.router {
  padding-bottom: 55px;
}

a:hover {
  text-decoration: none;
}

.logo {
  width: 250px;
}

/*
.linear {
  background-image: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
}
*/

#landing {
  max-width: 60%;
  margin: auto;
}

.white {
  color: white;
  text-align: center;
  margin: auto;
}
.red {
  background-color: #f22613;
}

.notify {
  color: red;
  font-weight: 300;
  padding-top: 7.5px;
  padding-left: 5px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  color: black;
}
.custom-file-upload:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: white;
}

.custom-sub {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 0px;
  vertical-align: middle;
  overflow: hidden;
  margin-top: -3px;
}

.right {
  padding-left: 25px;
}
.icon2 {
  width: 30px;
  height: 30px;
}

.red {
  color: red;
  background-color: rgba(0, 0, 0, 0);
}
.green {
  color: green;
}

.logo {
  width: 500px;
}

.black {
  color: black;
}

.fixed-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111214;
  background-image: url("images/bg.png");
  background-size: auto;
  background-position: center -263px;
  z-index: -1;
}

#main-nav {
  transition: background-color 0.3s ease;
}

#main-nav.scrolled {
  background-color: rgba(17, 18, 20, 0.92);
  backdrop-filter: blur(50px) saturate(2);
}

.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gray {
  background-color: #111214;
}
@keyframes moveup {
  10% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(15px, -25px);
  }
  90% {
    transform: translate(0px, 0px);
  }
}
@keyframes moveup2 {
  10% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(35px, -40px);
  }
  80% {
    transform: translate(0, 0);
  }
}
@keyframes moveup3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(70px, -80px);
  }
  90% {
    transform: translate(0, 0);
  }
}

.about-header-img {
  display: block;
  position: relative;
  height: 400px;
  width: 400px;
  margin: auto;
  transform: scale(0.9);
}

.img1 {
  animation-name: moveup;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  width: 500px;
  position: absolute;
  top: 30px;
  left: -60px;
}
.img2 {
  animation-name: moveup2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 200ms;
  width: 500px;
  position: absolute;
  top: 30px;
  left: -60px;
}
.img3 {
  animation-name: moveup3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 400ms;
  width: 500px;
  position: absolute;
  top: 30px;
  left: -60px;
}

.howto-gif {
  width: 100%;
}

.spam-list thead {
  background: transparent;
  border-bottom: 1px solid #ddd;
}

.spam-list tr {
  background: transparent !important;
  text-align: left !important;
}

.spam-list td {
  background: transparent !important;
}
