.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 4vmin;
  pointer-events: none;
}

.react-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 4vmin;
  pointer-events: none;
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lead {
  padding: 1rem 0;
}

section {
  padding: 5rem 0;
}

.router {
  padding-bottom: 55px;
}

a:hover {
  text-decoration: none;
}

.logo {
  width: 250px;
}

/*
.linear {
  background-image: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
}
*/
.white {
  color: white;
  text-align: center;
  max-width: 60%;
  margin: auto;
}
.red {
  background-color: #f22613;
}

.notify {
  color: red;
  font-weight: 300;
  padding-top: 7.5px;
  padding-left: 5px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  color: black;
}
.custom-file-upload:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: white;
}

.custom-sub {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 0px;
  vertical-align: middle;
  overflow: hidden;
  margin-top: -3px;
}

.right {
  padding-left: 25px;
}
.icon2 {
  width: 30px;
  height: 30px;
}

.red {
  color: red;
  background-color: rgba(0, 0, 0, 0);
}
.green {
  color: green;
}

.logo {
  width: 500px;
}

.black {
  color: black;
}

.linear {
    background-color: #111214;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center -263px;
}

 .navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.gray {
    background-color: #111214;
}
@keyframes moveup {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(15px, -25px);}
    100% {transform: translate(0px, 0px);}
  }
  @keyframes moveup2 {
    0% {transform: translate(20px, -30px);}
    50% {transform: translate(55px, -65px);}
    100% {transform: translate(20px, -30px);}
  }
  @keyframes moveup3 {
    0% {transform: translate(60px, -70px);}
    50% {transform: translate(90px, -100px);}
    100% {transform: translate(60px, -70px);}
  }
  
  
  .img1 {
    animation-name: moveup;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
  } 
  .img2 {
    animation-name: moveup2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .img3 {
    animation-name: moveup3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
  }